page-home {
 
    #lol{
       
        float: left;
        width: 50%;
        border-right: solid 2px;
        text-align: center;
    }
     #lot{
       
        float: right;
        width: 50%;
        text-align: center;
        
    }
    #low{
        width: 50%;
        margin-top: 490px;
        margin-left: auto;
        margin-right: auto;
    }
    #lop {
        text-align: center;
        font-size: 30px;
    }
    
    
}
